{% extends "base.html"%}

{% block content %}
</div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 40rem; margin-left: 600px;">
  <div class="card-header"> <h3>Reservations:</h3>
  <div class="card-body text-dark">
  <div class="row">
    {% for reservation in reservations %}
    {% if request.user == reservation.user %}
    {% if reservation.is_active %}
      <div>
        <div class="card-group">
        {% include "carrental/reservation_frame.html" with reservation=reservation %}
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}
  </div>
  </div>
  </div>
  </div>
</div>
</div>
